@import './variables';
 
body{

        font-family: 'Lato', sans-serif;
        -webkit-font-smoothing:anitialiased;
        color: $dark;
        
         
       
}

.btn-primary
{
        background: $primary;
        &:hover
        {
                background: $primary-hover;
        }
}

nav li:last-child a{
        background: $primary;
        &:hover{
                 
                background: $primary-hover;
         }
}

nav li a {

          &:hover{
                 
                 color: $primary;
          }
          transition: $smooth;
}

section.hero{
        background: $secondary;
}

.size
{
        background: $secondary;
}
.add-to-cart
{
        border: 2px solid $primary;
        color: $primary;
        transition: $smooth;
        &:hover{
           background: $primary;
           color: $pure;
           border-color: $pure;
        }
}

section.cart{
          background: $secondary;
}
.amount
{
        color: $primary;
}
section.login
{
        background: $secondary;
        min-height: calc(100vh - 110px);
        a{
             color: $primary;
             &:hover
             {
                color: $primary-hover;
             }
        }
}